.main-content {
	margin: 40px;
}

.map-img-sede {
	margin: 20px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-direction: row;
}

.map {
	width: 50%;
    padding-bottom: 50%;
    position: relative;
	border-radius: 20px;
	border: 1px;
	border-color: #000;
	display: flex;
	align-items: center;
}

.map iframe {
	align-items: center;
	border-radius: 10px;
	border-style: solid;
	border-color: #000;
    left: 0;
    top: 0;
    position: absolute;
}

.fachada{
	align-items: center;
	width: 50%;
}

.fachada img {
	width: 600px;
}